html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: skyblue;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100dvh;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
}

button {
  padding: 7px 20px;
  border-radius: 25px;
  border: 2px solid pink;
  cursor: pointer;
}

button:hover {
  background-color: pink;
  color: white;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.color {
  width: 5rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  background-color: white;
}

.box {
  border: 1px solid pink;
}
